In [2]:

#add this two list elementwise
l1 = [1, 2, 3, 4]
l2 = [3, 4, 5, 6]

result = [x + y for x, y in zip(l1, l2)]
print(result)

[4, 6, 8, 10]

In [ ]:
#Find maximum element combining two list l1 and l2

In [ ]:
#find common elemnts from list l1 and l2

In [ ]:
d1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
d2 = {'a': 7, 'f': 2, 'g': 55, 'h': "101"}

#find common key from d1 and d2
#find common value from d1 and d2

In [ ]:
#replace the values of d1 to their negative value

In [ ]:
#replace key to value and value to key in d2